{# Parameters:
 #   * name: This room's name
 #   * icon_entity_id: The entity id for this card's icon
 #   * icon: The icon to display next to the rooms name
 #   * image: (optional) This image to display in the background
 #   * color: The accent color for this room, in decimal form (RRR, GGG, BBB)
 #   * sensors: array
 #     * entity_id: A sensor entity to show in the header
 #     * name: That sensor's name
 #     * icon: (optional) That entity's icon
 #     * alert_if_on: (optional) Alter the room's icon to display an alert if this sensor is on
 #   * switches: array
 #     * entity_id: An entity to to control in the footer
 #     * name: That entity's name
 #     * icon: (optional) That entity's icon
 #     * tap_action: (optional) object. Override for the tap_action
 #   * climate: (optional) object
 #     * room_key: The room key used to prefix climate and setpoint entity IDs
 #}

{% set sensors = sensors | default([]) | list %}
{% set alert_sensors = sensors | selectattr('alert_if_on', 'true') | list %}
{% set switches = switches | default([]) | list %}

{% macro card_icon(icon, entity_id, color = None, indent = 0) -%}
{% filter indent(indent * 2) -%}
{% if entity_id is defined %}
- type: state-icon
  entity: {{ entity_id }}
  {% if icon is defined %}icon: {{ icon }}{% endif %}
  tap_action:
    action: more-info
  style:
    margin: -4px 5px -4px -4px
{% else %}
- type: icon
  icon: {{ icon | default('mdi:texture-box') }}
  style:
    cursor: default
    margin-right: 9px
{% endif %}
    "--mdc-icon-size": 32px
    {% if color is not none %}color: "{{ color }}"{% endif %}
{%- endfilter %}
{%- endmacro %}

{% macro binary_sensor_element(sensor_config) %}
- type: state-icon
  entity: {{ sensor_config.entity_id }}
  title: {{ sensor_config.name }}
  {% if sensor_config.icon is defined -%}
  icon: {{ sensor_config.icon }}
  {% endif %}
  tap_action:
    action: more-info
  style:
    margin: -6px -3px
{% endmacro %}

{% macro sensor_element(sensor_config) %}
- type: custom:container-element
  style:
    height: 100%
    margin: 0 3px
    display: flex
    flex-direction: column
    align-items: center
    justify-content: flex-end
  elements:
    - type: state-icon
      entity: {{ sensor_config.entity_id }}
      title: {{ sensor_config.name }}
      {% if sensor_config.icon is defined -%}
      icon: {{ sensor_config.icon }}
      {% endif %}
      tap_action:
        action: more-info
      style:
        margin: -6px -3px
    - type: state-label
      entity: {{ sensor_config.entity_id }}
      title: {{ sensor_config.name }}
      tap_action:
        action: more-info
      style:
        margin: -8px
{% endmacro %}

type: picture-elements
image: {{ image | default('/local/rooms/placeholder.webp') }}
style: |
  .element[class~=element] {
    position: relative;
    transform: none;
  }
  ::-webkit-scrollbar {
    width: 3px;
    height: 3px;
  }
  ::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.55);
  }
  ::-webkit-scrollbar-thumb {
    background: rgba({{ color }}, 0.55);
  }
  ::-webkit-scrollbar-thumb:hover {
    background: rgba({{ color }}, 1);
  }
elements:
  - type: custom:container-element
    style:
      position: absolute
      top: 0
      right: 0
      left: 0
      bottom: 0
      display: flex
      flex-direction: column
      "--secondary-text-color": "#DADADB"
      "--primary-text-color": "#DADADB"
      "--paper-item-icon-color": "#DADADB"
      "--mdc-icon-size": 40px
      "--ha-card-background": rgba(0, 0, 0, 0)
      "--ha-card-box-shadow": none
    elements:
      - type: custom:container-element  # Header
        style:
          <<: &banner_style
            overflow: hidden
            display: flex
            flex-grow: 0
            flex-shrink: 0
            padding: 0 10px
            color: "#D3D3D3"
            font-size: 1.6em
            font-weight: 500
          height: 2.25em
          order: 1
          align-items: center
          background-color: rgba({{ color }}, 0.9)
        elements:
{% if alert_sensors | length == 0 %}
{{ card_icon(icon, icon_entity_id, indent = 5) }}
{% else %}
          - type: conditional  # Room icon
            conditions:
{% for sensor_config in alert_sensors %}
              - entity: {{ sensor_config.entity_id }}
                state: "off"
{% endfor %}
            elements:
{{ card_icon(icon, icon_entity_id, indent = 7) }}

          - type: conditional  # Alert icon
            conditions:
{% for sensor_config in alert_sensors %}
              - entity: {{ sensor_config.entity_id }}
                state: "on"
{% endfor %}
            elements:
{{ card_icon('mdi:home-alert', icon_entity_id, '#FFFF00', indent = 7) }}
{% endif %}

          - type: custom:text-element  # Title
            text: {{ name }}

          - type: custom:container-element  # Sensors
            style:
              height: 100%
              display: flex
              align-items: center
              justify-content: flex-end
              flex-grow: 1
              font-size: 0.55em
              "--mdc-icon-size": 28px
            elements:
{% filter indent(14) -%}
{% for sensor_config in sensors if sensor_config.entity_id.startswith('binary_sensor.') -%}
{{ binary_sensor_element(sensor_config) }}
{% endfor %}
{% for sensor_config in sensors if sensor_config.entity_id.startswith('sensor.') -%}
{{ sensor_element(sensor_config) }}
{% endfor %}
{%- endfilter %}

      - type: custom:container-element  # Content
        style:
          order: 2
          flex-grow: 1
          flex-shrink: 1
          display: flex
          overflow: auto hidden
          scroll-behavior: smooth
          scroll-snap-type: x mandatory
          "-webkit-overflow-scrolling": touch
          "--mdc-icon-size": 24px
        elements:
          - type: custom:gap-card  # Initial
            height: 0
            style: &slide_section_style
              display: block
              width: 100%
              height: 100%
              flex-shrink: 0
              scroll-snap-align: start

{% if climate is defined %}
          - type: custom:hui-element  # Thermostat
            card_type: horizontal-stack
            style:
              <<: *slide_section_style
              background-color: rgba(0, 0, 0, 0.55)
            cards:
              - type: entities
                show_header_toggle: false
                style: |
                  ha-card .card-content { padding: 0; }
                entities:
                  - entity: input_select.{{ climate.room_key }}_thermostat_mode
                    name: Mode
                  - entity: input_number.{{ climate.room_key }}_thermostat_eco_setpoint
                    name: Eco
                  - entity: input_number.{{ climate.room_key }}_thermostat_comfort_setpoint
                    name: Comfort
                  - entity: input_number.{{ climate.room_key }}_thermostat_boost_setpoint
                    name: Boost

              - type: custom:simple-thermostat
                entity: climate.{{ climate.room_key }}_thermostat
                control: []
                decimals: 1
                header: false
                hide:
                  temperature: true
                  state: true
                layout:
                  step: column
                step_size: 0.5
                setpoints:
                  temperature: {}
{% endif %}

      - type: custom:container-element  # Footer
        style:
          <<: *banner_style
          order: 3
          align-items: baseline
          justify-content: center
          background-color: rgba(0, 0, 0, 0.55)
          height: unset
          min-height: 1.75em
        elements:
{% for switch_config in switches %}
          - type: state-icon
            entity: {{ switch_config.entity_id }}
            title: {{ switch_config.name }}
            {% if switch_config.icon is defined -%}
            icon: {{ switch_config.icon }}
            {% endif %}
            style:
              margin: 0 6px
              "--mdc-icon-size": 32px
            tap_action:
{% if switch_config.tap_action is defined %}
              {{ switch_config.tap_action | tojson }}
{% else %}
              action: {% if switch_config.entity_id.startswith('media_player.') %}more-info{% else %}toggle{% endif %}
{% endif %}
{% endfor %}
