{% set batteries = namespace(low = [], others = [], all = []) %}

{%- for entity in expand('group.all_batteries') %}
{% set batteries.all = batteries.all + [{'state': entity.state | int(-1), 'entity': entity}] %}
{% endfor %}

{%- for battery in batteries.all | sort(attribute = 'state') %}
  {% set entity = battery.entity %}
  {% set level = entity.state | int(None) %}

  {% if level is not number or level <= entity.attributes.battery_warning_level | default(25) | int %}
    {% set batteries.low = batteries.low + [entity] %}
  {% else %}
    {% set batteries.others = batteries.others + [entity] %}
  {% endif %}
{%- endfor %}

{% macro battery_row(battery) %}
{%- set warning_level = battery.attributes.battery_warning_level | default(25) | int %}
      - type: custom:battery-entity-row
        entity: {{ battery.entity_id }}
        name: {{ battery.name | replace("'s battery", '') | replace(' battery', '') }}{% if battery.attributes.battery_type %} ({{ battery.attributes.battery_type }}){% endif %}
        warning: {{ warning_level }}
        critical: {{ (warning_level / 2) | round(0, 'ceil') }}
{%- endmacro %}

type: entities
title: Batteries
show_header_toggle: false
style: |
  :host {
    --paper-item-icon-active-color: var(--error-color)
  }
entities:
  - entity: binary_sensor.all_batteries
    name: Status

{%- if batteries.low | length %}
  - type: custom:fold-entity-row
    open: true
    head:
      type: section
      label: Low batteries
    entities:
{%- for battery in batteries.low -%}
{{ battery_row(battery) }}
{%- endfor %}
{%- endif %}

{%- if batteries.others | length %}
  - type: custom:fold-entity-row
    head:
      type: section
      label: Other batteries
    entities:
{%- for battery in batteries.others -%}
{{ battery_row(battery) }}
{%- endfor %}
{%- endif %}
