known_devices.yaml
secrets.yaml
.config_entries.json
.HA_VERSION
.uuid

OZW_Log.txt
pyozw.sqlite

panels/floorplan.html

custom_components/customizer/

www/custom_ui/*
!www/custom_ui/floorplan/
www/custom_ui/floorplan/ha-floorplan.html
www/custom_ui/floorplan/lib/

deps/
__pycache__/
*.conf
*.db
*.db-shm
*.db-wal
*.db-journal

*.log
*.bkp
*.backup
