known_devices.yaml
secrets.yaml
.HA_VERSION
.uuid
.storage/
.custom_storage/
.secrets/
.cloud/
tts/

zwcfg_*.xml
zwscene.xml

OZW_Log.txt
pyozw.sqlite

panels/floorplan.html

custom_components/custom_updater/
custom_components/hacs/

www/custom_ui/floorplan/ha-floorplan.html
www/custom_ui/floorplan/lib/
www/github/
www/community/

deps/
__pycache__/
*.conf
*.db
*.db-shm
*.db-wal
*.db-journal

*.log
*.bkp
*.backup

.idea/
