extends: default

rules:
  document-end:
    present: false
  document-start:
    present: false
  empty-values: "enable"
  indentation:
    check-multi-line-strings: false
    indent-sequences: true
    spaces: 2
  line-length: "disable"
