{% macro nice_join(items, separator = ', ', last_separator = ' and ') -%}
{% for item in items -%}
{% if not loop.first %}{{ iif(loop.last, ' and ', ', ') }}{% endif %}{{ item }}
{%- endfor %}
{%- endmacro %}
