{# Parameters:
 #   * badges_position: (end | start)
 #   * color: [light (default) | dark]
 #   * image: The URL of the image to display in background.
 #   * plant_entity_id: The `plant.*` entity ID.
 #}

{% set name_color = '#3B4049' if color == 'dark' else '#E0E0E0' %}
{% set name_shadow_color = '#E0E0E0' if color == 'dark' else '#3B4049' %}

type: picture-elements
image: "{{ image }}"
card_mod:
  style: |
    .element[class~=element] {
      transform: none;
    }
    .element button-card {
      position: relative;
      --ha-label-badge-title-font-size: 0;
      --ha-label-badge-font-size: 1.2rem;
      --label-badge-red: #363941;
    }
    .element button-card + button-card {
        margin-left: 1em;
    }
elements:
  - type: custom:button-card
    color_type: label-card
    entity: "{{ plant_entity_id }}"
    show_icon: false
    tap_action:
      action: more-info
    style:
      top: 1.25em
      left: 1.5em
    styles:
      card:
        - background-color: transparent
        - box-shadow: none
        - border: "0"
        - color: "{{ name_color | default("#E0E0E0") }}"
        - filter: "drop-shadow({{ name_shadow_color | default("#3B4049") }} 0 0 2px)"
        - font-size: 1.25rem
        - font-weight: 500

  - type: conditional
    conditions:
      - entity: "{{ plant_entity_id }}"
        state: "problem"
    elements:
      - type: icon
        icon: mdi:alert-circle
        title: Problems
        entity: "{{ plant_entity_id }}"
        tap_action:
          action: more-info
        style:
          right: 1em
          top: 1.25em
          color: var(--error-color)
          filter: drop-shadow(black 0 0 1px)

  - type: custom:container-element
    style:
      position: absolute
      bottom: 0
      width: 100%
      padding: 1em
      box-sizing: border-box
      transform: none
      display: flex
      flex-direction: row
      justify-content: "flex-{{ badges_position | default("start") }}"
    elements:
{% for sensor_type in ('moisture', 'temperature', 'conductivity', 'brightness') -%}
{% set entity_id = 'sensor.{}_{}'.format(plant_entity_id | replace('plant.', ''), sensor_type) %}
      - type: custom:button-card
        triggers_update:
          - {{ entity_id }}
          - {{ plant_entity_id }}

        custom_fields:
          badge:
            card:
              type: custom:hui-element
              element_type: state-badge
              entity: {{ entity_id }}
              title: null

        tap_action:
          action: more-info
          entity: {{ entity_id }}

        styles:
          grid:
            - position: relative
            - grid-template-areas: '"l" "badge"'
            - grid-template-columns: min-content
            - grid-template-rows: 0 min-content
          card:
            - background-color: transparent
            - box-shadow: none
            - border: "0"
            - overflow: visible
          custom_fields:
            badge:
              - overflow: visible
              - --label-badge-red: |
                  [[[
                    return states["{{ plant_entity_id }}"].attributes.problem.indexOf("{{ sensor_type }}") === -1
                      ? "#363941"
                      : "var(--error-color)"
                  ]]]
{% endfor %}
